@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------*/

/*-_-_-_-_-_-_- typography -_-_-_-_-_-_- */

/*---------------------------------------------------------------------------------------------------*/

:root {
  --font-base: 'Plus Jakarta Sans', sans-serif;
}

/*---------------------------------------------------------------------------------------------------*/

/*-_-_-_-_-_-_- colors -_-_-_-_-_-_- */

/*---------------------------------------------------------------------------------------------------*/

:root {
  --color-text: #606470;
  --color-dark: #1d212a;
  --color-blue: hsl(219, 85%, 26%);
  --color-blue-light: hsl(211, 68%, 94%);
  --color-blue-dark: hsl(219, 12%, 42%);
  --color-grey: hsl(219, 14%, 63%);
  --color-grey-dark: hsl(219, 12%, 42%)
  --color-border: hsl(205, 33%, 90%);
  --color-red: hsl(1, 90%, 64%);
}

/* Fonction toute prête pour gérer Rem et Pixel en fonction des supports des navigateurs. */

:root {
  --gap: 8px;
}

:root {
  --container-padding: 20px;
  --container-width: 100%;
}

.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.container-full {
  box-sizing: border-box;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.container-narrow {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

strong,
b {
  font-weight: bold;
}

ul,
ol {
  list-style-type: none;
}

table {
  border: 0;
  border-spacing: 0;
  empty-cells: show;
  border-collapse: 0;
}

th,
td {
  text-align: left;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3;
  font-family: var(--font-base);
  color: var(--color-text);
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-size: 100%;
  border: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  border-radius: 0;
}

/* input[type="number"] {
     -webkit-appearance: textfield;
     -moz-appearance:textfield;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #f9fafe;
}

.notifications {
  background: white;
  padding-inline: var(--container-padding);
}

.notifications .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 24px;
}

.notifications .header .title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 800;
  color: var(--color-dark);
  font-size: 18px;
}

.notifications .header .title span {
  display: grid;
  place-items: center;
  background: var(--color-blue);
  color: white;
  font-weight: 800;
  border-radius: 5px;
  height: 24px;
  aspect-ratio: 64 / 50;
  font-size: 14px;
}

.notifications .header .read-all {
  color: var(--color-grey);
  font-size: 12px;
}

.notifs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notifs .notif {
  display: flex;
  gap: 12px;
  padding: 15px;
}

.notifs .notif.new {
  background: var(--color-blue-light);
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.notifs .notif .avatar {
  width: 40px;
}

.notifs .notif .detail {
  flex: 1;
}

.notifs .notif .detail .text {
  margin-bottom: 5px;
}

.notifs .notif .detail .text,
.notifs .notif .detail .date {
  color: var(--color-grey);
}

.notifs .notif .detail .text .user {
  font-weight: 800;
  color: var(--color-dark);
}

.notifs .notif.new .detail .text .new {
  display: inline-block;
  margin-left: 8px;
  background: var(--color-red);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.notifs .notif .detail .text a {
  color: var(--color-blue);
  font-weight: 800;
  text-decoration: none;
}

.notifs .notif .detail .text a:hover {
  text-decoration: underline;
}

.notifs .notif .detail .message {
  border: 1px solid var(--color-blue-light);
  border-radius: 5px;
  margin-top: 12px;
  padding: 20px 16px;
  color: var(--color-grey);
}

.notifs .notif .picture {
  width: 40px;
  margin-left: 16px;
}

@media (min-width: 830px) {
  .notifications {
    border-radius: 14px;
    margin-block: 62px;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.08);
  }

  .notifications .header .title {
    font-size: 20px;
  }

  .notifications .header .title span {
    height: 25px;
    aspect-ratio: 32 / 25;
    font-size: 14px;
  }

  .notifications .header .read-all {
    font-size: 20px;
    cursor: pointer;
  }

  .notifications .header .read-all:hover {
    text-decoration: underline;
  }

  .notifs .notif .avatar {
    width: 50px;
  }

  .notifs .notif .picture {
    width: 45px;
  }
}

@media only screen and (min-width: 1025px) {
  :root {
    --container-width: 730px;
  }
}
/*# sourceMappingURL=styles.css.map */
