//
// variables
// --------------------------------------------------

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- typography -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/

:root {
  --font-base: 'Plus Jakarta Sans', sans-serif;
}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- colors -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
:root {
  --color-text: #606470;
  --color-dark: #1d212a;
  --color-blue: hsl(219, 85%, 26%);
  --color-blue-light: hsl(211, 68%, 94%);
  --color-blue-dark: hsl(219, 12%, 42%);
  --color-grey: hsl(219, 14%, 63%);
  --color-grey-dark: hsl(219, 12%, 42%)
  --color-border: hsl(205, 33%, 90%);
  --color-red: hsl(1, 90%, 64%);
}
